h1 {
	font-size: 38px;
}
h2 {
	font-size: 34px;
}
form {
	margin: auto;
	max-width: 800px;
	& > div {
		margin-bottom: 25px;
	}
}
input, textarea, button {
	display: block;
	width: 100%;
	padding: 9px;
	font-size: 18px;
	border: 1px solid #888;
	border-radius: 0;
	background: transparent;
	appearance: none;
	color: #667;
}
textarea {
	min-height: 125px;
}
button, a[role^="btn"] {
	border: 2px solid #52787b;
	border-radius: 0;
	appearance: none; 
	padding: 10px 20px;
	font-size: 16px;
	color: #666;
	font-weight: 400;
	letter-spacing: 1px;
	&:hover {
		border-color: #22484b;
		cursor: pointer;
		text-decoration: none;
	}
	&:active {
		background: #eee;
	}
	&[disabled] {
		cursor: initial;
		&:hover {
			border-color: #52787b;
		}
	}
	&[role="btn-sm"] {
		width: auto;
		font-size: 0.8em;
		padding: 8px 17px;
	}
}
.main {
	section {
		padding: 100px 0;
		border-bottom: 1px solid #ddd;
		div[class^="ContactForm"] {
			padding: 0;
		}
	}
}
