h1 {
	font-size: 38px;
}
h2 {
	font-size: 34px;
}
form {
	margin: auto;
	max-width: 800px;
	& > div {
		margin-bottom: 25px;
	}
}
input, textarea, button {
	display: block;
	width: 100%;
	padding: 9px;
	font-size: 18px;
	border: 1px solid #888;
	border-radius: 0;
	background: transparent;
	appearance: none;
	color: #667;
}
textarea {
	min-height: 125px;
}
button, a[role^="btn"] {
	border: 2px solid #52787b;
	border-radius: 0;
	appearance: none; 
	padding: 10px 20px;
	font-size: 16px;
	color: #666;
	font-weight: 400;
	letter-spacing: 1px;
	&:hover {
		border-color: #22484b;
		cursor: pointer;
		text-decoration: none;
	}
	&:active {
		background: #eee;
	}
	&[disabled] {
		cursor: initial;
		&:hover {
			border-color: #52787b;
		}
	}
	&[role="btn-sm"] {
		width: auto;
		font-size: 0.8em;
		padding: 8px 17px;
	}
}
.main {
  padding-bottom: 40px;
	section {
		padding-top: 100px;
		h1, h2 {
			margin-top: 0;
		}
		&:not(:last-child):after {
			display: block;
			content: ' ';
			margin: 100px auto 0;
			max-width: 200px;
			border-bottom: 1px solid #ddd;
		}
		div[class^="ContactForm"] {
			padding: 0;
		}
	}
}
.backgroundImg {
  background-image: url('/images/landing.jpg');
  background-size: cover;
}
.top {
  padding-bottom: 100px;
}
.opaque {
  padding: 40px;
  background: #000;
  opacity: 0.5;
  max-width: 530px;
  color: #fff;
}
.cardWrapper {
  padding: 100px 0;
  background: #f2f2f2;
  & > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }
}
.card {
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  border: 1px solid #ddd;
  padding: 50px;
  margin: 15px;
  max-width: 350px;
  h2 {
    margin: 0;
    text-align: center;
    &::after {
      display: block;
      content: ' ';
      width: 100px;
      height: 1px;
      border-bottom: 1px solid #ddd;
      margin: 30px auto 0;
    }
  }
  p {
    margin: 30px 0 0 0;
    text-align: center;
  }
  &:nth-child(2) h2 {
    margin: 0 -30px;
  }
}
.showcaseWrapper {
  padding: 100px 0;
  background: #f2f2f2;
  h2 {
    text-align: center;
    margin-top: 0;
  }
}
.showcase {
  display: flex;
  flex-flow: row wrap;
  & > * {
    flex-grow: 1;
    margin: 1%;
    box-shadow: 0px 0px 4px 0px #cacaca;
    width: 48%;
  }
}
.budgeterLogo {    
	background: transparent;
	font-family: 'Bitter';
	border: 1px solid #008840;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	position: relative;
	.dollar {
    position: absolute;
    font-size: 80px;
    color: #008840;
    opacity: .5;
    top: -12px;
    left: 8px;
	}
	.b {
    font-size: 75px;
    color: #008840;
    position: absolute;
    top: -6px;
    left: 16px;
	}
}
.podsyLogo {
	width: 90px;
	height: 90px;
}

@media (max-width: 768px) {
  .main section {
		padding-top: 60px;
		&:not(:last-child):after {
			margin-top: 75px;
		}
  }
  .cardWrapper, .showcaseWrapper {
    padding: 30px 0;
  }
  .showcaseWrapper h2 {
    text-align: initial;
  }
  .card {
    max-width: 330px;
  }
}
@media (max-width: 450px) {
  .card {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .card {
    margin: 15px 0;
  }
}
